 {% extends "base.html" %} {% load static %} {% block content %}
<!-- Main -->
<div id="preview">
    <div class="inner">
        <div class="image fit">
            <img src="{% static 'images/pic05.jpg'%}" alt="" />

        </div>
        <div class="content">
            <header>
                <h2></h2>
            </header>
            <p></p>
            <p>FidsApp is the place to be at if you want any product in Joensuu.</p>
        </div>
    </div>
    <a href="detail1" class="nav previous"><span class="fa fa-chevron-left"></span></a>
    <a href="detail2" class="nav next"><span class="fa fa-chevron-right"></span></a>
</div>
{% endblock content %}