{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main -->
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic01.jpg' %} " alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src=" {% static 'images/pic03.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail1.html"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic08.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic09.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic12.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic11.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic10.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic13.jpg' %}"" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic14.jpg' %}" alt="" /></a>
							</div>

							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic15.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1"><img src="{% static 'images/pic16.jpg' %}" alt="" /></a>
							</div>

					</div>
				</div>
{% endblock content %}